<!DOCTYPE html>

<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <<meta charset="UTF-8">
    <title>Switch Lights Web page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>

<div class="container" id="app">
    <h1 class="text-center" style="color:DodgerBlue">Switch Light(s)</h1>
    <ol style="color:DodgerBlue"> Switch Light of a Room</ol>
    <ol>Choose Rooms with light :
        <select v-model="modality">
            <option>ON</option>
            <option>OFF</option>
        </select>
        <span v-if='modality == "OFF"'>
            Pick the N° of the Room with Light '{{modality}}' you want to Switch the Light:
            <select v-model="selected">
                <option v-for="room in roomsLightOff" v-bind:id="room.id">{{room.id}}</option>
            </select>
        </span>
        <span v-if='modality == "ON"'>
            Pick the N° of the Room with Light '{{modality}}' you want to Switch the Light:
            <select v-model="selected">
                <option v-for="room in roomsLightOn" v-bind:id="room.id">{{room.id}}</option>
            </select>
        </span>
    </ol>
    <ol> Switch its Light: <button v-on:click="switchLight(selected)">#img</button></ol>
    <ol style="color:DodgerBlue"> Switch all the Lights (of all the rooms of all the buildings)</ol>
    <ol>Switch ALL the Rooms with Lights:
        <select v-model="modality1">
            <option>ON</option>
            <option>OFF</option>
        </select>
        <span v-if="modality1=='OFF'"> Switch 'ON' all the rooms with lights 'OFF': <button v-on:click='switchAllLights("ON")'>#img</button> </span>
        <span v-else-if="modality1=='ON'"> Switch 'OFF' all the rooms with lights 'ON': <button v-on:click='switchAllLights("OFF")'>#img</button> </span>

    </ol>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

<script>
    //var apiRooms = 'https://glacial-plateau-99461.herokuapp.com/api/rooms';
    var apiRooms = 'http://localhost:8080/api/rooms';

    var app = new Vue({
        el: '#app',
        data: {
            modality:'',
            modality1:'',
            selected: '',
            option: '',
            room:'',
            roomsLightOn: [],
            roomsLightOff: [],
            mode:''
        },
        mounted(){
            axios.get(apiRooms + "/Lights/off").then(response => {this.roomsLightOff = response.data});
            axios.get(apiRooms + "/Lights/on").then(response => {this.roomsLightOn = response.data});
        },
        methods: {
            switchLight: function (selected) {
                axios.post(apiRooms + "/"+selected+"/switch-light").then( x => {
                axios.get(apiRooms + "/Lights/on").then(response => {this.roomsLightOn = response.data});
                axios.get(apiRooms + "/Lights/off").then(response => {this.roomsLightOff = response.data})
                });

            },
            switchAllLights: function (mode) {
                axios.post(apiRooms +"/switch-all-lights/"+mode).then( x=> {
                axios.get(apiRooms + "/Lights/on").then(response => {this.roomsLightOn = response.data});
                axios.get(apiRooms + "/Lights/off").then(response => {this.roomsLightOff = response.data})
                });
            }
        }
    });
</script>


</body>


</html>